/*-- scss:defaults --*/

$presentation-h1-font-size: 1.6em;

/*-- scss:rules --*/

#example-output > div > div:nth-child(2) > div > figure > p > img{
  width: 900px;
  height: 500px;
  top: 75px;
  left: 0px;
  position: absolute;
  z-index: 2;
}

.math-col {
  background-color: white;
  color: black;
  padding: 0px;
  font-size: 24px;
  border: 5px solid black;

}

